body
{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    padding-left: 15vw;
    background-color: rgb(101, 141, 202);
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-right: 8vw;
}

.header-body{
    background-color: rgb(101, 141, 202);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

#big-text{
    padding-left: 10vw;
    font-size: 5vw;
}

#image-container{
    border: 2px solid black;
    padding: 10vw;
    padding-left: 10vw;
    padding-bottom: 8vw;
    padding-top: 8vw;
    margin-right: 5.2vw;
}