body
{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    padding-left: 15vw;
    background-color: rgb(101, 141, 202);
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-right: 8vw;
}

.header-body{
    background-color: rgb(101, 141, 202);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

#big-text{
    padding-left: 10vw;
    font-size: 5vw;
}

#image-container{
    border: 2px solid black;
    padding: 10vw;
    padding-left: 10vw;
    padding-bottom: 8vw;
    padding-top: 8vw;
    margin-right: 5.2vw;
}

#header-paragraph{
    padding-left: 10.2vw;
}


.box-section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.box-header
{
    font-size: 3vw;
}
.box-class{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 2vw;
    padding-bottom: 10vh;
}

.box
{
    padding: 8vw;
    border: 2px solid black;
}

.box:hover
{
    cursor: pointer;
    background-color: rgb(234, 48, 42);
    transition: 0.2s;
}

.inspring-quote-section
{
    font-size: 3vw;
    background-color: rgb(218, 221, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

.call-to-action
{
    color: rgb(255, 255, 255);
    font-size: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(220, 220, 249);
    padding: 4.2vw;
}
.action-text
{
    border: 8px solid rgb(255, 255, 255);
    background-color: rgb(107, 107, 166);
    padding: 3vw;
    border-radius: 10vw;
}

#boink-button
{
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
    color: rgb(8, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 10vw;
    margin-left: 40vw;
}

#boink-button:hover
{
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

